//Typography

    //Used for managing margins and padding
    $base-font-size: 18px;
    $base-line-height: 24px;
    $rhythm-unit: "px";

    //Used for text
    $scalable-font-size: 3vmin;
    $scalable-line-height: 4.5vmin;

    //$heading-font: "Archivo Black", sans-serif;
    $heading-font:'Raleway', sans-serif;
    //$body-font: "Assistant", sans-serif;
    $body-font: 'Raleway', sans-serif;



//Colors

$ocre: #ffc333;
$naranja: #ff8000;
$azul: #015581;
$azul-secundario:#369;
$gris: #616161;
$gris-claro: #F5F5F5;
$gris-medio: #757575;
$gris-medio-claro: #BDBDBD;
$primary-color:$ocre;


//Susy
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


$breakpoint-xs: 768px;
$breakpoint-sm: 992px;
$breakpoint-lg: 1200px;
