/* @group ----- Generic HTML Elements ----- */

html {
    font-size: 1.5 * $scalable-font-size;
    line-height: 1.5 * $scalable-line-height;
}

h1 {
    font-size: 2.25 * $scalable-font-size;
    line-height: 2 * $scalable-line-height;
    margin: 0 0 rhythm(1, 1.75 * $scalable-font-size);
}

h2 {
    font-size: 2 * $scalable-font-size;
    line-height: 2 * $scalable-line-height;
    margin: rhythm(1, 2 * $base-font-size) 0;
}

h3 {
    font-size: 1.75 * $scalable-font-size;
    line-height: 1.5 * $scalable-line-height;
    margin: rhythm(1, 1.75 * $base-font-size) 0;
}

h4 {
    margin: rhythm(1, 1.5 * $base-font-size) 0;
    font-size: 1.5 * $scalable-font-size;
    line-height: 1.5 * $scalable-line-height;
}

    /* @group ----- Form elements ----- */

    input,
    textarea,
    button,
    select {
        font-size: 1.5 * $scalable-font-size;
        line-height: 1.5 * $scalable-line-height;
        margin: 0;
    }

    form .field {
        align-items: center;
    }

    form .field .two.columns,
    form .field > label,
    form .field > .label {
        width: 100%;
        padding-right: 0;
        margin-bottom: rhythm(.25);
    }

    form .field .five.columns,
    form .field > .inputs {
        width: 100%;
        padding-left: 0;
    }

    /* @end */

/* @end */

/* @group ----- Containers ----- */

#content {
    padding: rhythm() rhythm() 0;
}

.items.show{
  #content{
    dd{
      clear: both;
      margin-top: .8em;
    }
  }
}

/* @end */

/* @group ----- Navigation ----- */

.secondary-nav li a,
.pagination,
.pagination input[type="text"],
.item-pagination {
    font-size: $scalable-font-size;
}


/* @end */

/* @group ----- Header ----- */

header {
    padding: rhythm(.5) rhythm();
}

#header-main{
  #site-title{

      font-size: rhythm(1);
      line-height: rhythm(1.2);

  }
}

header h1 {
    margin-bottom: 0;

}

#top-nav > ul {
    display: block;
    overflow: scroll;
    padding-bottom: rhythm();
}

#top-nav ul ul ul li {
    font-size: $scalable-font-size;
    line-height: $scalable-line-height;
}

#top-nav>ul>li {
    width: 100%;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    padding: 0 rhythm() rhythm();
    .footer-links{
      li{
        display: block;
        margin-top: 1.2em;
      }
    }
}

/* @end */

/* @group ----- Home ----- */

div#featured {
    font-weight: normal;
}

#featured .record {
    min-height: 0;
    width: 100% !important;
}

#featured .featured-meta {
    padding: 0;
    max-width: 100%;
}

#intro {
    //background-color: $primary-color;
    background-color: white;
    //margin-top: rhythm(2);
    margin: 0 0 rhythm(6) span(2)+gutter();
    width: span(8);
    //padding: rhythm(2);
    p{
      font-size: rhythm(.6);
      line-height: rhythm(1.2);
    }
}

/* @end */

/* @group ----- Browse ----- */

.browse #outputs,
#sort-links {
    font-size: $scalable-font-size;
}

.records .hentry {
    font-size: 1.5 * $scalable-font-size;
    line-height: 1.5 * $scalable-line-height;
    width: 100%;

}

.collection.hentry h2 {
    font-size: 1.5 * $scalable-font-size;
    line-height: 1.5 * $scalable-line-height;
}

/* @end */

/* @group ----- Show ----- */

.element h3,
.element-text {
    font-size: 1.5 * $scalable-font-size;
    width: 100%;
    text-align: left;
}

.element-text:not(:first-of-type) {
    margin-top: rhythm(.25);
    @include leading-border(1px, .25, $base-font-size, solid);
}

#output-format-list{
  li{
    display: block !important;
  }
}

/* @end */

/* @group ----- Advanced Item Search ----- */

button.add_search {
    margin-left: 0;
    font-size: 1.5 * $scalable-font-size;
}

/* @end */

/* @group ----- Exhibits ----- */

#exhibit-pages {
    font-size: 1.5 * $scalable-font-size;
    line-height: 1.5 * $scalable-line-height;
    width: 100%;
    float: none;
    margin: 0 0 rhythm();
}

#exhibit-pages .subpages-toggle:before {
    font-size: 1.5 * $scalable-font-size;
    line-height: 1.5 * $scalable-line-height;
    margin-top: rhythm(-.3625);
    padding-right: rhythm(.125);
}

#exhibit-pages ~ * {
    width: 100%;
    float: none;
    padding-left: 0;
}



header {

      padding: rhythm(.24) rhythm(2);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //min-height: 512px;
      min-height: rhythm(21);

  }

  @media screen and (max-width: $breakpoint-sm ) {

    header {

        padding: rhythm(.24) rhythm(.8);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //min-height: 512px;
        min-height: rhythm(6);

    }

  }

  header > * {
      vertical-align: top;
  }

  header a {
      color: #fff;
      //color: #000;
  }

  #header-image {
      width: 100%;
      margin: 0;
      display: block;

  }

  #header-image img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
  }

  #header-logos{
    //align-items: flex-start;
    width:100%;
    margin: rhythm(.4) 0;
    img{
      max-height: 50px;
    }
    #badac-logo{
      float:left;
    }
    #andes-logo{
      margin-left: auto;
      float: right;
    }

  }

  #header-main{
    //display: flex;
    //flex: row;
    margin: rhythm(.4) 0;
    //width: 100%;


      #site-title {
          //font-family: $heading-font;
          font-family: "raleway-semibold";
          //margin-right: auto;
          margin-top:rhythm(.1);
          padding: 0;
          font-size: rhythm(1.2);
          line-height: 1.2;
          float:left;
          font-weight: bold;
          img {
              max-height: rhythm(2);
              width: auto;
              vertical-align: bottom;
          }
      }
    #header-buttons{

      float:left;
      display: flex;
      align-items: center;
      margin-top: rhythm(1);
      #search-container{
        float:left;
      }
      #top-nav{
        float:left;

      }
      #lang-switch{
        //margin-left: auto;
        display:block;
        float: right;
      }

    }

  }

  #featured-items  {
    column-count: 1;
  }


  .collection.records {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      //align-content: flex-start;
      //width: 100%;
      flex-direction: row;
      margin: rhythm(2) 0 rhythm(2);
      @media screen and (min-width: $breakpoint-sm + 1) and (max-width: $breakpoint-lg){
        column-count: 3;
      }


      @media screen and ( max-width: $breakpoint-sm){
        column-count: 1;
      }

      column-count: 4;
      column-gap: 1em;

      h2 {
          width: 100%;
          font-size: rhythm(.8);
          text-align: left;
      }

      .hentry {
          //display: inline-block;

          font-size: .75 * $scalable-font-size;
          line-height: .75 * $scalable-line-height;
          //width: calc(25% - #{rhythm()});
          width: 100%;
          //width: 30%;
          margin: rhythm() rhythm() rhythm(1) 0;
          text-align: left;
          //background-color: $gris-claro;
          border-bottom: 1px solid $gris-medio-claro;

          a{
            margin: 0 auto;
          }

          img {
              width: 100%;
              height: auto;
          }
          .view-items-link{
            text-align: left;
          }

          .item-info,
          .collection-info{
            margin: rhythm(1);
            h4 {
              margin:0;
              text-align: left;
              font-size: rhythm(.7);
              line-height: rhythm(.9);
              font-weight: bold;
              margin-top: rhythm();
            }
            .date{
              font-size: rhythm(.6);
              line-height: rhythm(.7);

            }
            .collection-description{
              font-size: rhythm(.7);
              line-height: rhythm(.9);
            }
          }
    }

  }

  .records{
    column-count: 1;
  }
/* @end */
